{% extends 'back/base_back.html.twig' %}

{% block title %}Les randonnées
{% endblock %}
{% block body %}
	<h1>Les randonnées</h1>
	<div class="row pt-5">
		<div class="col-12">
			{{ include('back/_flash_message.html.twig') }}
			<table class="table table-hover mt-4 walks-list-table">
				<thead>
					<tr>
						<th scope="col" class="id-col">#</th>
						<th scope="col" class="d-none d-lg-block date-col">Date et heure</th>
						<th scope="col" class="title-col">Titre</th>
						<th scope="col" class="d-none d-lg-block desc-col">Description</th>
						<th scope="col" class="status-col">Statut</th>
						<th scope="col" class="d-none d-lg-block creator-col">Organisateur</th>
						<th scope="col" class="actions-col">Actions</th>
					</tr>
				</thead>
				<tbody width="100%">
					{% for walk in walksList %}
						<tr>
							<th scope="row">{{ walk.id }}</th>
							<td class="d-none d-lg-block">{{ walk.date|date('d/m/Y h:m') }}</td>
							<td>{{ walk.title }}</td>
							<td class="d-none d-lg-block">{{ walk.description }}</td>
							<td>{{ walk.status == 1 ? 'A venir': 'Terminée' }}</td>
							<td class="d-none d-lg-block">{{ walk.creator.nickname }}</td>
							<td>
								<a href="{{ path('back_walk_edit', {id:walk.id}) }}" type="button" class="btn btn-warning">
									<i class="fas fa-toggle-on"></i>
									<span class="display-medium">Modifier le statut</span></a>
								<form
									action="{{ path('walk_delete', {id: walk.id}) }}" method="POST" class="form-admin" onsubmit="return confirm('Supprimer la randonnée {{ walk.title }} ?')">
									{# Fake HTTP Method, see https://symfony.com/doc/current/routing.html#matching-http-methods #}
									<input type="hidden" name="_method" value="DELETE"/>
									<input type="hidden" name="token" value="{{ csrf_token('delete_walk') }}"/>
									<button type="submit" class="btn btn-danger">
										<i class="fas fa-trash-alt"></i>
										<span class="display-medium">Supprimer</span>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
