{% extends 'back/base_back.html.twig' %}

{% block title %}Modifier
	{{ walk.title }}
{% endblock %}
{% block body %}
	<h1>{{ walk.title }}</h1>
	{{ form_start(form, {attr: {novalidate: 'novalidate'}})}}
	<div class="form_group">
		<div>
			{{ form_row(form.status) }}
		</div>
	</div>
	<button class="btn btn-lg btn-success" type="submit">
		Enregistrer
	</button>
	{{ form_end(form) }}
{% endblock %}
