{% extends 'back/base_back.html.twig' %}

{% block title %}Les utilisateurs
{% endblock %}
{% block body %}
	<h1>Les utilisateurs</h1>
	<div class="row pt-5">
		<div class="col-12">
			{{ include('back/_flash_message.html.twig') }}
			<div class="count">
				{{ usersList.getTotalItemCount }} élément(s)
			</div>
			<div class="navigation">
				{{ knp_pagination_render(usersList) }}
			</div>
			<div class="table-responsive">
			<table class="table table-hover mt-4 users-list-table users-table">
				<thead>
					<tr>
						<th scope="col" class="id-col">#</th>
						<th scope="col" class="lastname-col {% if usersList.isSorted('u.lastname') %}sorted{% endif %}">
            {{ knp_pagination_sortable(usersList, 'Nom', 'u.lastname') }}</th>
						<th scope="col" class="firstname-col {% if usersList.isSorted('u.firstname') %}sorted{% endif %}">
            {{ knp_pagination_sortable(usersList, 'Prénom', 'u.firstname') }}</th>
						<th scope="col" class="email-col {% if usersList.isSorted('u.email') %}sorted{% endif %}">
            {{ knp_pagination_sortable(usersList, 'Email', 'u.email') }}</th>
						<th scope="col" class="nickname-col {% if usersList.isSorted('u.nickname') %}sorted{% endif %}">
            {{ knp_pagination_sortable(usersList, 'Pseudo', 'u.nickname') }}</th>
						<th scope="col" class="role-col">Rôle</th>
						<th scope="col" class="actions-col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in usersList %}
						<tr>
							<th scope="row">{{ user.id }}</th>
							<td>{{ user.lastname }}</td>
							<td>{{ user.firstname }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.nickname }}</td>
							<td>
								{% for role in user.roles %}
									{{ role }}
								{% endfor %}
							</td>
							<td>
								<form
									action="{{ path('user_delete', {id: user.id}) }}" method="POST" onsubmit="return confirm('Supprimer {{ user.nickname }} ?')">
									{# Fake HTTP Method, see https://symfony.com/doc/current/routing.html#matching-http-methods #}
									<input type="hidden" name="_method" value="DELETE"/>
									<input type="hidden" name="token" value="{{ csrf_token('delete_user') }}"/>
									<button type="submit" class="btn btn-danger">
										<i class="fas fa-trash-alt"></i>
										<span class="display-medium">Supprimer</span>
									</button>
								</form>
							</td>
						</tr>
					</tbody>
				{% endfor %}
			</table>
			</div>
			<div class="navigation">
				{{ knp_pagination_render(usersList) }}
			</div>
		</div>
	</div>
{% endblock %}
