{% extends 'back/base_back.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}



{{ include('back/_nav_back.html.twig') }}

<h3>Liste des Utilisateurs</h3> 



<table class="table">
    
            
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
       <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  {% for user in usersList %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.lastname }}</td>
      <td>{{ user.firstname }}</td>
       <td>{{ user.email }}</td>
         <td>
        <form action="{{ path('user_delete', {id: user.id}) }}" method ="POST" onsubmit="return confirm('Supprimer  {{ user.email }} ?')">
       {# Fake HTTP Method, see https://symfony.com/doc/current/routing.html#matching-http-methods #}
        <input type="hidden" name="_method" value="DELETE"/>
         <input type="hidden" name="user" value="{{ csrf_token('delete_user') }}"/>
        <button type="submit" class="btn btn-danger" >Supprimer</button>
         
      </form>
      </td>
    </tr>
 
 </tbody>

    {% endfor %}
</table>

{% endblock %}
