{% extends 'base.html.twig' %}
{% block title %}Nous contacter
{% endblock %}
{% block body %}
	<h2>
		Nous contacter</h2>
	{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
	{# génerate all field of the form #}
	<div class="field">
		{{ form_label(form.subject) }}
		{{ form_widget(form.subject) }}
	</div>
	<div class="field">
		{{ form_label(form.mail) }}
		{{ form_widget(form.mail) }}
	</div>
	<div class="field">
		{{ form_label(form.message) }}
		{{ form_widget(form.message) }}
	</div>
	<button type="submit" class="btn btn-success">Valider</button>
	{{ form_end(form) }}
{% endblock %}
