<header class="header">
	<img class="header_image" src='{{ absolute_url(asset('images/header_crop.jpg')) }}' alt="orando bandeau"/>
	<div class="header_content">
		<div class="header_top">
			<a href="http://localhost:8080" class="header_logo_link">
				<img class="header_logo" src='{{ absolute_url(asset('images/logo.png')) }}' alt="orando logo"/>
			</a>
			<nav class="header_nav">
				<a href="http://localhost:8080" class="header_nav_item"><img class="header_nav_home_logo" src="{{ absolute_url(asset('images/home.png')) }}" alt="logo-orando" />Accueil</a>
				<a href="{{ path('walk_create') }}" class="header_nav_item"><img class="header_nav_create_logo" src="{{ absolute_url(asset('images/create.png')) }}" alt="logo-create-walk" />Créer une randonnée</a>
				{% if is_granted('IS_ANONYMOUS') %}
				<a href="http://localhost:8080/authentication" class="header_nav_item"><img class="header_nav_home_connect" src="{{ absolute_url(asset('icones/enter.svg')) }}" alt="logo-connect" />Connexion</a>
				{% endif %}
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<a href="http://localhost:8080/account" class="header_nav_item"><img class="header_nav_home_avatar" src="{{ absolute_url(asset('images/054-hiker.png')) }}" alt="logo-avatar" />Mon Compte</a>
					<a href="{{ path('app_logout') }}" class="header_nav_item"><img class="header_nav_home_disconnect" src="{{ absolute_url(asset('icones/exit2.svg')) }}" alt="logo-disconnect" />Déconnexion</a>
				{% endif %}
			</nav>
		</div>
		<h1 class="header_title">O'RANDO</h1>
	</div>
</header>
