{% extends 'back/base_back.html.twig' %}

{% block title %}Les thèmes
{% endblock %}
{% block body %}
	<h1>Les thèmes</h1>
	<div class="row pt-5">
		<div class="col-12">
			<a href="{{ path('tag_add') }}" type="button" class="btn btn-success mt-2 mb-4 add-btn">
				<i class="far fa-plus-square"></i>
				Ajouter un thème</a>
			{{ include('back/_flash_message.html.twig') }}
			<div class="count">
				{{ tagsList.getTotalItemCount }}
				élément(s)
			</div>
			<div class="navigation">
				{{ knp_pagination_render(tagsList) }}
			</div>
			<div class="table-responsive">
				<table class="table table-hover mt-4 tags-list-table tags-table">
					<thead>
						<tr>
							<th scope="col" class="id-col">#</th>
							<th scope="col" class="name-col {% if tagsList.isSorted('t.name') %}sorted{% endif %}">
								{{ knp_pagination_sortable(tagsList, 'Nom', 't.name') }}</th>
							<th scope="col" class="color-col {% if tagsList.isSorted('t.color') %}sorted{% endif %}">
								{{ knp_pagination_sortable(tagsList, 'Couleur', 't.color') }}</th>
							<th scope="col" class="actions-col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for tag in tagsList %}
							<tr>
								<th scope="row">{{ tag.id }}</th>
								<td>{{ tag.name }}</td>
								<td>{{ tag.color }}</td>
								<td>
									<a href="{{ path('tag_edit', {id:tag.id}) }}" type="button" class="btn btn-warning">
										<i class="fas fa-edit"></i>
										<span class="display-medium">Modifier</span>
									</a>
									<form
										action="{{ path('tag_delete', {id: tag.id}) }}" method="POST" class="form-admin" onsubmit="return confirm('Supprimer le thème {{ tag.name }} ?')">
										{# Fake HTTP Method, see https://symfony.com/doc/current/routing.html#matching-http-methods #}
										<input type="hidden" name="_method" value="DELETE"/>
										<input type="hidden" name="token" value="{{ csrf_token('delete_tag') }}"/>
										<button type="submit" class="btn btn-danger">
											<i class="fas fa-trash-alt"></i>
											<span class="display-medium">Supprimer</span>
										</button>
									</form>
								</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
			</div>
			<div class="navigation">
				{{ knp_pagination_render(tagsList) }}
			</div>
		</div>
	</div>
{% endblock %}
