{% extends 'back/base_back.html.twig' %}

{% block title %}Liste des Tags{% endblock %}

{% block body %}



<h2>Liste des Tags</h2> 
<a href="{{ path('tag_add') }}" type="button" class="btn btn-success">Ajouter</a>


{{ include('back/_flash_message.html.twig') }}

<table class="table">
    
            
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Couleur</th>
    </tr>
  </thead>
  <tbody>
  {% for tag in tagsList %}
    <tr>
      <th scope="row">{{ tag.id }}</th>
      <td>{{ tag.name }}</td>
      <td>{{ tag.color }}</td>
      <td><a href="{{ path('tag_edit', {id:tag.id}) }}" type="button" class="btn btn-warning">Modifier</a></td>
      <td>
        <form action="{{ path('tag_delete', {id: tag.id}) }}" method ="POST" onsubmit="return confirm('Supprimer le tag #{{ tag.id }} ?')">
       {# Fake HTTP Method, see https://symfony.com/doc/current/routing.html#matching-http-methods #}
        <input type="hidden" name="_method" value="DELETE"/>
         <input type="hidden" name="token" value="{{ csrf_token('delete_tag') }}"/>
        <button type="submit" class="btn btn-danger" >Supprimer</button>
         
      </form>
      </td>
    </tr>
 
 </tbody>

    {% endfor %}
</table>

{% endblock %}
