{{ form_start(form) }}
{# génère tous les champs du form#}
<div class="field">
	{{ form_label(form.title) }}
	{{ form_widget(form.title) }}
	{{ form_errors(form.title) }}
</div>
<div class="field">
	{{ form_label(form.area) }}
	{{ form_widget(form.area) }}
	{{ form_errors(form.title) }}
</div>
<div class="field">
	{{ form_label(form.tags) }}
	{{ form_widget(form.tags) }}
	{{ form_errors(form.title) }}
</div>
<div class="field">
	{{ form_label(form.startingPoint) }}
	{{ form_widget(form.startingPoint) }}
	{{ form_errors(form.title) }}
</div>
<div class="field">
	{{ form_label(form.endPoint) }}
	{{ form_widget(form.endPoint) }}
	{{ form_errors(form.title) }}
</div>
<div class="field">
	{{ form_label(form.date) }}
	{{ form_widget(form.date) }}
	{{ form_errors(form.title) }}
</div>
<div class="field">
	{{ form_label(form.duration) }}
	{{ form_widget(form.duration) }}
	{{ form_errors(form.title) }}
</div>
<div class="field">
	{{ form_label(form.kilometre) }}
	{{ form_widget(form.kilometre) }}
</div>
<div class="field">
	{{ form_label(form.difficulty) }}
	{{ form_widget(form.difficulty) }}
	{{ form_errors(form.title) }}
</div>
<div class="field">
	{{ form_label(form.elevation) }}
	{{ form_widget(form.elevation) }}
	{{ form_errors(form.title) }}
</div>
<div class="field">
	{{ form_label(form.maxNbPersons) }}
	{{ form_widget(form.maxNbPersons) }}
    <small>{{ form_help(form.maxNbPersons) }}</small>
	{{ form_errors(form.title) }}
</div>
<div class="field">
	{{ form_label(form.description) }}
	{{ form_widget(form.description) }}
	{{ form_errors(form.title) }}
</div>
{# <div class="field">
	{{ form_label(form.status) }}
	{{ form_widget(form.status) }}
	{{ form_errors(form.status) }}
</div> #}
<button type="submit" class="btn btn-success">Valider</button>
{{ form_end(form) }}
