{% apply inline_css(source('@styles/email.css')) %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
</style>
<img src="{{ email.image('@images/logo.png') }}" class="email-logo" alt="Logo">
<span class="site-title">O'Rando</span>
<section class="mail-content">
<h1>Bonjour {{ user.nickname }}!</h1>
<p>
   Vous avez reçu un nouveau message de {{ expeditor.nickname }} sur Orando.me:
</p>
<p><em>{{ message }}</em></p>
<p>
    <a href="https://orando.me/{{ path('contact_user', {id:expeditor.id}) }}">Cliquez ici pour lui répondre sur Orando.me!</a>
</p>
</section>
{% endapply %}